# General
.DS_Store
.idea/
notes.md
sapir_image_captions/__pycache__/
sapir_image_captions/multi_30k/__pycache__/
sapir_image_captions/boy_and_frog/__pycache__/

# Meta
.data_login
notebooks/.ipynb_checkpoints/
